---
import "../styles/global.css";
import { App } from "../App";

// Obtener el token desde las cookies
const token = Astro.cookies.get("token")?.value;
if (!token) return Astro.redirect("/login");

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>E-Commerce</title>
  </head>
  <body>
    <App client:only="react" />
  </body>
</html>
